parameters:


database:
	dsn: 'mysql:host=wm80.wedos.net;dbname=d91621_byyou'
	user: a91621_byyou
	password: '52nXhLGV'
	options:
		lazy: yes

doctrine:
    host: wm80.wedos.net
    user: a91621_byyou
    password: '52nXhLGV'
    dbname: d91621_byyou
