<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{ifset title}{include title|striptags} | {/ifset}Administrace - ByYou</title>
<link rel="stylesheet" type="text/css" href="{$basePath}/admins/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$basePath}/admins/css/navi.css" media="screen" />
<script type="text/javascript" src="{$basePath}/admins/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
{ifCurrent Content:*}
<script src="{$basePath}/admins/ckeditor/ckeditor.js"></script>
<script src="{$basePath}/admins/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
var basePath = {$basePath};

$( document ).ready( function() {
	$( '#input' ).ckeditor();
} );
</script>
{/ifCurrent}
<script type="text/javascript">
$(function(){
	$(".box .h_title").not(this).next("ul").hide("normal");
	$(".box .h_title").not(this).next("#home").show("normal");
	$(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
});
</script>
</head>
<body>
<div class="wrap">
	<div id="header">
		<div id="top">
			<div class="left">
				<p>Administrace <strong>ByYou</strong> [ <a n:href="Homepage:out">odhlásit</a> ]</p>
			</div>
			<div class="right">
				<div class="align-right">
					<p>Serverový čas: <strong>{$date}, {$time}</strong></p>
				</div>
			</div>
		</div>
		<div id="nav">
			<ul>
				<li class="upp"><a href="#">Správa obsahu</a>
					<ul>
						<li>&#8250; <a n:href="Content:main">Hlavní stránka</a></li>
						<li>&#8250; <a n:href="Content:about">O nás</a></li>
					</ul>
				</li>
				<li class="upp"><a href="#">Produkty</a>
					<ul>
						<li>&#8250; <a n:href="Products:list">Seznam</a></li>
						<li>&#8250; <a n:href="Products:add">Přidat</a></li>
					</ul>
				</li>
				<li class="upp"><a n:href="Settings:">Nastavení</a></li>
			</ul>
		</div>
	</div>

	<div id="content">
		<div id="sidebar">
			<div class="box">
				<div class="h_title">&#8250; Správa obsahu</div>
				<ul>
					<li class="b1"><a class="icon view_page" n:href="Content:main">Hlavní stránka</a></li>
					<li class="b2"><a class="icon users" n:href="Content:about">O nás</a></li>
				</ul>
			</div>

			<div class="box">
				<div class="h_title">&#8250; Produkty</div>
				<ul>
					<li class="b1"><a class="icon category" n:href="Products:list">Seznam</a></li>
					<li class="b2"><a class="icon add_page" n:href="Products:add">Přidat</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="h_title"><a n:href="Settings:">&#8250; Nastavení</a></div>
			</div>
		</div>
		<div id="main">
            {block content}
            {/block}
		</div>
		<div class="clear"></div>
	</div>

	<div id="footer">
		<div class="left">
			<p>Administrace <a href="http://psopf.eu">ByYou</a></p>
		</div>
		<div class="right">
			<p><a href="http://psopf.eu">Zpátky na web</a></p>
		</div>
	</div>
</div>

</body>
</html>

