<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>

<!-- ------------------------------------------------------------ -->
<!-- ************************************************************ -->
<!-- * rafika a xhtml/css kod                                   * -->
<!-- * Copyright (c) 2007, Ondrej Pohorsky  All rights reserved * -->
<!-- *                                                          * -->
<!-- * author: Ondrej Pohorsky                                  * -->
<!-- * url:    http://www.poho.cz                               * -->
<!-- * mail:   poho@poho.cz                                     * -->
<!-- * icq:    190484844                                        * -->
<!-- *                                                          * -->
<!-- * This work is under BSD license                           * -->
<!-- ************************************************************ -->
<!-- ------------------------------------------------------------ -->

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<title>Licence</title>
<meta name="author" content="Ondrej Pohorsky; http://www.poho.cz; poho@poho.cz" />

<script type="text/javascript" src="{$basePath}/./design/js/javascript.js"></script>

<link rel="shortcut icon" href="{$basePath}/./design/img/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="{$basePath}/./design/styles/default.css" media="screen, projection, tv" type="text/css" />
<link rel="stylesheet" href="{$basePath}/./design/styles/print.css" media="print" type="text/css" />
</head>
<body>
  <div id="witti">
  
    <div id="header">
      <a href="{$basePath}/./index.html" class="logo"><span>Witti</span></a>
      <p class="userinfo"><strong>wellard</strong> | <a href="#">Můj Účet</a> | <a href="#">Odhlášení!</a></p>
      <div class="cleaner"></div>
    </div><!-- hlavička -->
    
    <div id="main">
      <div id="menu">
        <ul>
          <li><a n:href="Homepage:default">Úvod</a></li>
          <li><a n:href="Parts:default">Části</a>
            <ul>
              <li><a n:href="Parts:text">Text</a></li>
              <li><a n:href="Parts:seznamy">Seznamy</a></li>
              <li><a n:href="Parts:table">Table as list</a></li>
              <li><a n:href="Parts:informace">Informační tabule</a></li>
              <li><a n:href="Parts:formular">Formulář</a></li>
              <li><a n:href="Parts:zpravy">Zprávy</a></li>
              <li><a n:href="Parts:sloupce">Oddělené sloupce</a></li>
              <li><a n:href="Parts:galerie">Galerie</a></li>
            </ul>
          </li>
          <li><a n:href="Licence:default" class="active">Licence</a></li>
        </ul>
      </div>
      {block content}
      {/block}
      <div class="cleaner"></div>
    </div><!-- hlavní -->
    
    <div id="footer">
      <p>design: <a href="#">Ondřej Pohorský</a></p>
    </div><!-- zápatí -->
  
  </div><!-- witti -->
</body>
</html>
