{block content}
<div class="full_w">
				<div class="h_title" n:block=title>Správa obsahu: O nás</div>
				{form editForm}
					<div class="element">
						<label for="content">Obsah stránky</label>
						<textarea id="input" n:name=content></textarea>
					</div>
					<div class="entry">
						<button type="submit" n:name=send class="add">Uložit</button>
					</div>
				{/form}
			</div>