{block content}
<div class="mainbar">
    <div class="article">
          <h2><span n:block=title>E-mail úspěšně odeslán</span></h2>
          E-mail byl úspěšně odeslán. Ozveme se Vám jak jen to bude možné, na adresu, kterou jste uvedli ve formuláři.
    </div>
</div>