{block content}
<div class="mainbar">
    <div class="article">
        <h2><span n:block=title>Zboží úspěšně objednáno</span></h2>
        Objednávka proběhla úspěšně. Brzo se Vám ozveme na Vás E-mail.
    </div>
</div>